{% extends 'base2.html' %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Exchange rates</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

    <style>
       .container_val {
        display: inline-block;
        width: 700px; /* Ширина слоя */
        margin-left: 45px;
       }
       .container_crypt {
        display: inline-block;
        width: 1050px; /* Ширина слоя */
       }
    </style>

    <div>
        <div class="container_val">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Сurrency exchange rate</h4>
              </div>
            <div style="width: -moz-max-content; height: 650px; overflow: auto;">
              <div class="card-body">
                  {% if currency_val %}
                    <table>
                      <tr>
                          <td><b>{{ 'Name' }}</b></td>
                          <td><b>{{ 'Code' }}</b></td>
                          <td><b>{{ 'Amount'}}</b></td>
                          <td><b>{{ 'Price' }}</b></td>
                          <td><b>{{ 'Time' }}</b></td>
                      </tr>
                      {% for elem in currency_val %}
                              <tr>
                                  <td>{{ elem[0] }}</td>
                                  <td>{{ elem[1]['code']}}</td>
                                  <td>{{ elem[1]['amount']}}</td>
                                  <td>{{ elem[1]['price']}}</td>
                                  <td>{{ elem[1]['time']}}</td>
                              </tr>
                    {% endfor %}
                  {% else %}
                      <p>No currency now</p>
                  {% endif %}
                  </table>
                <meta charset="utf-8">
                <link rel="stylesheet" type="text/css" href="static/style.css">
              </div>
            </div>
          </div>
        </div>
        </div>

        <div class="container_crypt">
          <div class="card-deck mb-3 text-center">
            <div class="card mb-4 shadow-sm">
              <div class="card-header">
                <h4 class="my-0 font-weight-normal">Сryptocurrency exchange rate</h4>
              </div>
            <div style="width: -moz-max-content; height: 650px; overflow: auto;">
              <div class="card-body">
                  {% if currency_cryto %}
                    <table>
                      <tr>
                          <td><b>{{ 'Name' }}</b></td>
                          <td><b>{{ 'Code' }}</b></td>
                          <td><b>{{ 'Price' }}</b></td>
                          <td><b>{{ 'Exchange price'}}</b></td>
                          <td><b>{{ 'Capitalization'}}</b></td>
                          <td><b>{{ 'Volume'}}</b></td>
                          <td><b>{{ 'Exchange price per day'}}</b></td>
                          <td><b>{{ 'Time' }}</b></td>
                      </tr>
                      {% for elem in currency_cryto %}
                              <tr>
                                  <td>{{ elem[0] }}</td>
                                  <td>{{ elem[1]['code']}}</td>
                                  <td>{{ elem[1]['price']}}</td>
                                  <td>{{ elem[1]['ex_price']}}</td>
                                  <td>{{ elem[1]['capitalization']}}</td>
                                  <td>{{ elem[1]['volume']}}</td>
                                  <td>{{ elem[1]['ex_per']}}</td>
                                  <td>{{ elem[1]['time']}}</td>
                              </tr>
                    {% endfor %}
                  {% else %}
                      <p>No currency now</p>
                  {% endif %}
                  </table>
                <meta charset="utf-8">
                <link rel="stylesheet" type="text/css" href="static/style.css">
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
</body>

{% endblock %}

</html>