{% extends 'base.html' %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<style>
    .form-control {
    }
</style>
<div class="col-sm-6">
    <h1>Sign in your account</h1>
    <form method="post">
        <input type="text" class="form-control" name="email" id="email" placeholder="email@examle.com"><br>
        <input type="text" class="form-control" name="password" id="password" placeholder="your password"><br>
        <button class="btn btn-success" type="submit">Sign in</button>
    </form>

    {% with messages = get_flashed_messages()  %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endblock %}