<!DOCTYPE HTML>
<html lang="ru">
 <head>
  <meta charset=utf-8">
  <meta name="viewport"
        content="wight=device-wight, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 </head>

<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Aggregator News</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/messages">Messages</a>
    <a class="p-2 text-dark" href="/">Home link</a>
    <a class="p-2 text-dark" href="/support">Support</a>
    <a class="p-2 text-dark" href="/profile">Profile</a>
  </nav>
  <a class="btn btn-outline-primary" href="/logout">Logout</a>
    </div>



{#    <div class="container">#}
{#        <div class="card-deck mb-3 text-top">#}
{#          <div class="card mb-4 shadow-sm">#}
{#            <div class="card-header">#}
{#              <h4 class="my-0 font-weight-normal">Messages</h4>#}
{#            </div>#}
{#                <div class="row">#}
{#                <div class="col-md-8 text-top">#}
{#                    <div style="width: 1100px; height: 500px; overflow: auto;">#}
{#                        {% if messages %}#}
{#                            {% for m in messages %}#}
{#                                <div class="container">#}
{#                                  <div class="card mb-1">#}
{#                                      <div class="col-12">#}
{#                                        <b>{{ m['nickname'] }}:</b>#}
{#                                      </div>#}
{#                                      <div class="col-12">#}
{#                                        <p align="justify">{{ m['user_text'] }}</p>#}
{#                                      </div>#}
{#                                      <div class="col-12">#}
{#                                          <small class="d-block text-dark">"{{ m['date_time'] }}"</small>#}
{#                                      </div>#}
{#                                  </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#                        {% else %}#}
{#                            <p>No messages found.</p>#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#                </div>#}
{##}
{#                    <div class="card">#}
                      {#разделение окна отправки сообщения#}
{#                    </div>#}
{##}
{#                    <div class="card-header">#}
{#                        <form method="POST">#}
{#                                <label for="message" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enter your message:</font></font></label>#}
{#                                <input type="text" class="form-control" name="message" id="myMessage" placeholder="Hello, friends!"><br>#}
{#                                <button class="btn btn-success" type="submit">Send message</button>#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#    </div>#}
{#</body>#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chat Room | Flast + SocketIO</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="container mt-5 mb-4">
        <h1>Chat Room</h1>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-5">
                    <h2>Hello, <strong id="username">{{ username }}</strong></h2>
                    <p><a href="/logout">Exit</a></p>
            </div>
        </div>
    </div>

    {% if username is not none %}
        <div class="container">
            <ul id="messages"></ul>
            <div class="row">
                <div class="col-7">
                    <form id="form_send_msg" autocomplete="off" novalidate>
                        <div class="form-group">
                            <label for="message_input">Message:</label>
                            <input type="text" class="form-control" id="message_input" placeholder="Enter your message here">
                        </div>
                        <button type="submit" id="send_msg" class="btn btn-success">Send</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <!-- <ul id="messages"></ul>
    <input type="text" id="message_input" placeholder="Enter your message here">
    <button id="send_msg">Send</button> -->

{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    {% if username is not none %}
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>

{#        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.js" integrity="sha256-bQmrZe4yPnQrLTY+1gYylfNMBuGfnT/HKsCGX+9Xuqo=" crossorigin="anonymous"></script>#}

        <script>
            $(document).ready(() => {
                $('#form_send_msg').on('submit', (e) => {
                    e.preventDefault();
                });

                const socket = io.connect('http://127.0.0.1:5000');
                const username = $('#username').text();

                socket.on('connect', () => {
                    socket.send({'username': 'Service message', 'msg': 'User ' + username + ' has connected!'});
                });

                $('#send_msg').on('click', () => {
                    socket.send({
                            'msg': $('#message_input').val(),
                            'username': username
                        });
                    $('#message_input').val('');
                });

                socket.on('message', data => {
                    if (data.msg.length > 0) {
                        if (data.username === 'Service message') {
                            $('#messages').append(`<li class="text-muted"><strong>${data.username}:</strong> ${data.msg}</li>`);
                        } else {
                            $('#messages').append(`<li><strong>${data.username}:</strong> ${data.msg}</li>`);
                        }
                        console.log('Received message');
                    }
                });
            });
        </script>
    {% endif %}
</body>
</html>




{##}
{#<html>#}
{#<head>#}
{#<title>Chat Room</title>#}
{#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>#}
{#</head>#}
{#<body>#}
{#<script type="text/javascript">#}
{#$(document).ready(function() {#}
{##}
{#	var socket = io.connect('http://127.0.0.1:5000');#}
{##}
{#	socket.on('connect', function() {#}
{#		socket.send('User has connected!');#}
{#	});#}
{##}
{#	socket.on('message', function(data) {#}
{#		$("#messages").append('<li>'+data+'</li>');#}
{#		console.log('Received message');#}
{#	});#}
{##}
{#	$('#sendbutton').on('click', function() {#}
{#		socket.send($('#myMessage').val());#}
{#		$('#myMessage').val('');#}
{#	});#}
{##}
{#});#}
{#</script>#}
{#<ul id="messages">#}
{#    {% if messages %}#}
{#                            {% for m in messages %}#}
{#                                <div class="container">#}
{#                                  <div class="card mb-1">#}
{#                                      <div class="col-12">#}
{#                                        <b>{{ m['nickname'] }}:</b>#}
{#                                      </div>#}
{#                                      <div class="col-12">#}
{#                                        <p align="justify">{{ m['user_text'] }}</p>#}
{#                                      </div>#}
{#                                      <div class="col-12">#}
{#                                          <small class="d-block text-dark">"{{ m['date_time'] }}"</small>#}
{#                                      </div>#}
{#                                  </div>#}
{#                                </div>#}
{#                            {% endfor %}#}
{#    {% else %}#}
{#        <p>No messages found.</p>#}
{#    {% endif %}#}
{#</ul>#}
{##}
{#<input type="text" id="myMessage">#}
{#<button id="sendbutton">Send</button>#}
{##}
{#                        <form method="POST">#}
{#                                <label for="myMessage" class="form-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enter your message:</font></font></label>#}
{#                                <input type="text" class="form-control" name="myMessage" id="myMessage" placeholder="Hello, friends!"><br>#}
{#                                <button class="btn btn-success" id="sendbutton" type="submit">Send message</button>#}
{#                        </form>#}
{##}
{#</body>#}
{#</html>#}