<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Aggregator News</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/messages">Messages</a>
        <a class="p-2 text-dark" href="/currency">Exchange rates</a>
        <a class="p-2 text-dark" href="/">Home link</a>
        <a class="p-2 text-dark" href="/profile">Profile</a>
        <a class="p-2 text-dark" href="/support">Support</a>
    </nav>
    <a class="btn btn-outline-primary" href="/logout">Logout</a>
</div>

<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Your profile</h4>
            </div>
            <div class="card-body mb-3 text-left"">
            <div>
                <p>Your account details are below:</p>
                <table>
                    <tr>
                        <td>Name:</td>
                        <td>{{ account['user_name'] }}</td>
                    </tr>
                    <tr>
                        <td>Surname:</td>
                        <td>{{ account['surname'] }}</td>
                    </tr>
                    <tr>
                        <td>Nickname:</td>
                        <td>{{ account['nickname'] }}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{ account['email'] }}</td>
                    </tr>
                </table>
            </div>
            </div>
        </div>
    </div>
</div>

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2022</small>
        </div>
    </div>
</footer>

</body>
</html>